# Custom RPC endpoint for sidechain
RPC_WS_URL=wss://rpc.svmbnbmainnet.soo.network/rpc

# Pumpfun contract Program ID
PROGRAM_ID=RapXd6RgnAesGtkbRUfo31PnwYkuqcv3PwqXfo6nRXc

# Log level setting
RUST_LOG=info

# Optional: Transaction monitoring threshold (in lamports, default is 10 SOL)
SWAP_THRESHOLD=10000000000

# Optional: Monitored token list (comma-separated mint addresses)
# TARGET_TOKENS=token_mint_address1,token_mint_address2
